.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding: 0rem 1rem;
    background-color: white;

    input{
    outline: none;
    border: none;
    color: #2f2d52;
    font-size: 16px;
    }

    .send{
        display: flex;
        align-items: center;
        gap: 10px;

        img{
            height: 24px;
            cursor: pointer;
        }

        button{
            border: none;
            outline: none;
            color: white;
            background-color: #8da4f1;
            height: 1.5rem;
            width: 3rem;
            border-radius: 0.2rem;
        }
    }
}