.search{
    border-bottom: 1px solid gray;

    .searchForm{
        padding: 1rem;


        input{
            outline: none;
            border: none;
            width: 90%;
            background-color: transparent;
            color: white;

            &::placeholder{
                color: lightgray;
            }
        }
    }
}